#helloworld{
    width:100px;
    height:100px;
    background-color:#6c6c6c;
}
input[type="radio"]{
  margin:3px 3px 0px 5px;
  display:none;
}
label{
  margin-left:20px;
  padding:10px 20px;
  cursor:pointer;
  border:1px solid #e3e3e3;
  color:#000000;
}

label.checked{
  background-color:#1991e6;
  color:#ffffff;
}