#cuscc_latest_members_post{
    width:800px;
    height:200px;
    margin-top: 70px;
    margin-left:20px;
    overflow: hidden;
    position: relative;
}
#members_slide_show_container{
    height:150px;
    width:2100px;
    margin-left:0px;
    overflow: hidden;
    position:relative;
}
.members_slide_show_item_container{
    width:200px;
    height:150px;
    float:left;
    display: inline-block;
    position:relative;
    margin-left:10px;
}
.members_slide_show_item{
    width:200px;
    height:150px;
}